@font-face {
    font-family: 'Exo';
    src: url('Exo-Regular.woff2') format('woff2'),
        url('Exo-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Italic.woff2') format('woff2'),
        url('Exo-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

